.clickable-img {
    left:85%;
    height: 300px;
    top: -100px;
  
    img{
      opacity: 0.8;
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 15px;
      width: 360px;
    
      &:hover {
        box-shadow: 0 0 2px 1px darkslategray;
        animation: pulse 1s forwards;
      } 
    }   
}

.second-img{
    left: 165%;
    height: 100%;
    top: -100px;
  
    img{
      opacity: 0.8;
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 15px;
      width: 250px;
    
      &:hover {
        box-shadow: 0 0 2px 1px darkslategray;
        animation: pulse 1s forwards;
     } 
    }  
}
  
.center-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%, 15%);
  font-size: 30px;
  font-family: cursive;
  font-style: italic;
  color: darkslategray;

}

.below-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, 15%);
  font-size: 30px;
  font-family: cursive;
  font-style: italic;
  color: darkslategray;
}
